Source: dpkg-status
Section: utils
Priority: optional
Maintainer: Jesse Finneman <jfprogramming@yahoo.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3, qt6-base-dev, qt6-declarative-dev, cmake
Standards-Version: 4.5.0
Homepage: https://github.com/jfprogramming/dpkg-status

Package: dpkg-status
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3, libqt6core6 (>= 6.7.0), libqt6gui6 (>= 6.7.0), libqt6widgets6 (>= 6.7.0), libqt6quick6 (>= 6.7.0), libqt6qml6 (>= 6.7.0), libqt6network6 (>= 6.7.0), libglx0, libopengl0, qt6-base-dev
Description: Qt6-based application and Python script to parse dpkg status
 This package includes:
  - A Qt6-based application (`appdpkg-status`)
  - A Python script (`dpkg_status.py`)
