Source: dpkg-status
Section: utils
Priority: optional
Maintainer: Jesse Finneman <jfprogramming@yahoo.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3, qtbase5-dev, qtdeclarative5-dev
Standards-Version: 4.5.0
Homepage: https://github.com/jfprogramming/dpkg-status

Package: dpkg-status
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, libqt5core5a, libqt5gui5, libqt5widgets5, qml-module-qtquick2, qml-module-qtquick-controls2
Description: Qt-based application and Python script to parse dpkg status files on Debian systems
 This package includes a Qt-based application (`dpkgviewer`) to visually display the results of the Python script analysis. 
 Additionally, the Python script (`dpkg_status.py`) determines explicitly installed packages on Debian-based systems by 
 directly accessing the dpkg status file (/var/lib/dpkg/status).
