#!/usr/bin/make -f
%:
	dh $@ --with python3

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l/opt/Qt/6.7.2/gcc_64/lib

override_dh_clean:
	dh_clean
	rm -rf qt/build

clean:
	dh_clean

override_dh_auto_build:
	mkdir -p qt/build
	cd qt/build && cmake .. -DCMAKE_BUILD_TYPE=Release
	cd qt/build && cmake --build .

override_dh_auto_install:
	mkdir -p debian/dpkg-status/usr/bin/
	install -m 0755 qt/build/appdpkg-status debian/dpkg-status/usr/bin/
